@model List<EletroStar.Models.Principais.CarrinhoProjetoViewModel>
@{
    ViewData["Title"] = "IndexProjeto";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/css/form.css">
<link rel="stylesheet" href="~/css/listagem.css">

<div id="conteudoGrid">
    @if (Model.Count == 0)
    {
        <h2>Carrinho</h2><br>
        <p>Você ainda não possui nenhum projeto no seu carrinho!</p><br />
        <a asp-area="" asp-controller="Projeto" asp-action="IndexProjeto">Clique aqui para ir para o catálogo</a>
    }
    else
    {
        double valorTotal = 0;

        <div>
            <h2 style="text-align:center; padding-top:10px;">Lista de Prodetos</h2><br>
            <table class="table table-responsive" id="Tabela">

                <tr>
                    <th>Ações</th>
                    <th>Nome</th>
                    <th>Quantidade</th>
                    <th>Valor Total R$:</th>
                </tr>

                @foreach (var projeto in Model)
                {
                    <tr>
                        <td>
                            <a id="acoes" href="javascript:apagarProjeto(@projeto.id_Projeto)">
                                Remover
                            </a>
                        </td>
                        <td>@projeto.nome.ToUpper()</td>
                        <td>@projeto.quantidade</td>
                        <td>@((projeto.quantidade * projeto.valor).ToString("C"))</td>
                    </tr>

                    valorTotal += (projeto.quantidade * projeto.valor);
                }
            </table>
        </div>
        <script>
            function apagarProjeto(id) {
                if (confirm('Deseja remover o projeto do carrinho?'))
                    location.href = '../Carrinho/DeleteProjeto?id_Projeto=' + id;
            }
        </script>

        <p style="text-align:right; padding-top:10px;">Valor total dos Produtos... @valorTotal.ToString("C")</p>

        <a asp-controller="" asp-action="">Finalizar Comprar...</a>

        <a asp-area="" asp-controller="Comprar" asp-action="Index">Adicionar outro produto</a>
    }
</div>

