@model List<ProdutoViewModel>


<h5 style="color:red">@ViewBag.error</h5>

<h1>Produtos</h1>

@{ 
    int contador = 0;

    <div class="container-cards">
        @foreach (var produto in Model)
            {
            @if (contador < 5)
                {
                <div class="container-cards-items">
                    <img src="data:image/jpeg;base64,@produto.ImagemEmBase64">
                    <h5 style="text-align:center;">@produto.nome </h5>
                    <h5 style="text-align:center;">R$ @produto.valor</h5><br />
                    <input id="botao" type="submit" value="Comprar" onclick="comprarProduto(@produto.id, @ViewBag.idCliente)"/>
                </div>
                    contador++; 
                }

            else
            {
                <br />
                contador = 0; 
                
            }
         }
    </div>   
}
<script>

    function comprarProduto(id, logado) {
        if (logado == 0) {
            alert("Você precisa estar logado para realizar uma compra");
            location.href = '../Login/Entrar';
        }
        else
        {
            if (confirm('Deseja adicionar o produto ao carrinho?')) {
                try {
                    var quantidade = prompt("Quantidade do item:", 1);
                    if (quantidade > 0) {
                        alert("Produto adicionado no carrinho");
                        location.href = 'Carrinho/AdicionarProduto?id_Produto=' + id + '&quantidade=' + quantidade;
                    }
                    else {
                        alert("Não foi possível adicional uma quantidade negativa de produto");
                    }
                }
                catch {
                    alert("Não foi possível adicionar seu produto, selecione uma quantidade válida");
                }
            }
        }
    }

</script>