@model List<ProdutoViewModel>

    <div id="bodyTabela">
        <h1>Lista de Produtos</h1>
        <br>
        <table class="table table-responsive">

            <tr>
                <th>Alterar Pedido</th>                
                <th>Nome</th>
                <th>Descrição</th>
                <th>Valor</th>
                <th>Fabricante</th>
                <th>Categoria</th>
                <th>Imagem</th>


            </tr>

            @foreach (var produto in Model)
             {
                <tr>
                    <td>
                        <a id="acoes" href="Produto/Edit?id=@produto.id">Editar</a>
                        <a id="acoes" href="javascript:apagarProduto(@produto.id)">Apagar</a>
                    </td>
                    
                    <td>@produto.nome</td>
                    <td>@produto.descricao</td>
                    <td>@produto.valor.ToString("C")</td>
                    <td>
                        @produto.Fabricante
                    </td>
                    <td>
                        @produto.Categoria
                    </td>
                    <td>
                        <img src="data:image/jpeg;base64,@produto.ImagemEmBase64" style="width:100px; height:100px;">
                    </td>

                </tr>
             }
        </table>
    </div>
